h1 {
    color: white;
    background-color: #4aaaa5;
    font-size: 20px;
    width: 220px;
    margin: 0px 0px 0px 99px;
    padding: 5px 5px 10px 5px;
  }
.navbar-nav {
    float: right;
}
.nav-link {
    float: right;
}